@font-face {
  font-family: "NotoSans";
  src: url("../fonts/NotoSansJP-Regular.otf") format("opentype"); }

@font-face {
  font-family: "Md-NotoSans";
  src: url("../fonts/NotoSansJP-Medium.otf") format("opentype"); }

@font-face {
  font-family: "Bd-NotoSans";
  src: url("../fonts/NotoSansJP-Bold.otf") format("opentype"); }

@font-face {
  font-family: "XB-MPlus";
  src: url("../fonts/MPLUS1p-ExtraBold.ttf") format("truetype"); }

@font-face {
  font-family: "Bl-NotoSans";
  src: url("../fonts/NotoSansJP-Black.otf") format("opentype"); }

@font-face {
  font-family: "W3-Hira";
  src: url("../fonts/HiraginoKaku-W3-90msp-RKSJ-H.otf") format("opentype"); }

@font-face {
  font-family: "W6-Hira";
  src: url("../fonts/HiraginoKaku-W6-90msp-RKSJ-H.otf") format("opentype"); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NotoSans"; }

.container {
  max-width: 1024px;
  margin: 0px auto;
  padding: 0px 15px; }

.img-responsive {
  max-width: 100%;
  height: auto; }

.img-width {
  padding-right: 48px; }

.text-center {
  text-align: center; }

.heading {
  background-color: #4F3222;
  padding: 22px 0px; }
  .heading__title {
    position: relative;
    font-family: "Bd-NotoSans";
    font-size: 35px;
    color: #ffffff;
    padding-left: 15px; }
    .heading__title::before {
      content: "";
      position: absolute;
      left: 0px;
      height: 100%;
      border-left: 5px solid #ffffff; }

.contents__heading {
  font-family: "Bd-NotoSans";
  font-size: 18px; }

.contents__paragraph {
  font-family: "NotoSans";
  font-size: 16px;
  text-align: left; }

.btn-rounded {
  font-size: 18px;
  color: #ffffff;
  background-color: #F7931E;
  border-radius: 2px;
  display: inline-block;
  padding: 14px 83px;
  text-decoration: none;
  line-height: 22px;
  box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.3); }
  .btn-rounded:hover {
    box-shadow: none;
    transition: 0.4s; }

.wrapper {
  width: 630px;
  max-width: 100%;
  margin: 0px auto; }

.no-border {
  border: none !important; }

.not-sp {
  display: block; }

.top-heading {
  position: relative; }
  .top-heading::after {
    content: "";
    position: absolute;
    box-shadow: 2px 10px 5px -7px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    bottom: 0; }

.top-heading__header-top {
  background-color: #4F3222; }
  .top-heading__header-top--title {
    color: #ffffff;
    font-size: 14px;
    font-family: "NotoSans";
    font-weight: 500;
    padding: 7.5px 0; }

.top-heading__header-logo {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px; }
  .top-heading__header-logo--main-logo {
    flex-basis: 20%; }
  .top-heading__header-logo--details {
    display: flex;
    align-items: center;
    flex-basis: 60%;
    justify-content: space-between; }

.trouble-list__listing {
  padding-bottom: 84px;
  position: relative; }
  .trouble-list__listing--img-in-bg {
    position: absolute;
    right: 10%;
    bottom: 0px;
    z-index: -1; }
    .trouble-list__listing--img-in-bg img {
      display: block; }
  .trouble-list__listing--lists {
    list-style-type: none;
    z-index: 9999; }

.listing-lists {
  position: relative;
  padding: 50px 0 0 45px;
  font-size: 21px;
  font-family: "Bd-NotoSans"; }
  .listing-lists::before {
    content: "";
    position: absolute;
    background-image: url(../img/tick.png);
    height: 28px;
    width: 28px;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0px;
    bottom: 0px; }
  .listing-lists__variety {
    font-family: "Bd-NotoSans";
    font-size: 23px;
    border-bottom: 2px solid #F7931E; }

.decorate-in-style {
  background-color: #39B54A; }
  .decorate-in-style__first-row {
    display: flex;
    padding: 45px 0px 35px; }
    .decorate-in-style__first-row--column-right {
      flex-basis: 50%; }
  .decorate-in-style__second-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 48px; }
    .decorate-in-style__second-row--img-contact {
      width: 460.5px; }
    .decorate-in-style__second-row--img-message {
      width: 458px; }

.left-column {
  color: #ffffff;
  flex-basis: 50%;
  padding: 21px 0px; }
  .left-column__main-heading {
    font-family: "XB-MPlus";
    font-size: 30px; }
  .left-column__sub-heading {
    font-family: "BD-NotoSans";
    font-size: 42px; }
  .left-column__sub-heading-2 {
    font-family: "Bl-NotoSans";
    font-size: 55px; }

.why-chose-us {
  counter-reset: section; }
  .why-chose-us__content {
    display: flex;
    justify-content: space-between;
    padding: 32px 0px 40px; }
    .why-chose-us__content--count {
      position: relative;
      flex-basis: 18%; }
      .why-chose-us__content--count::before {
        counter-increment: section;
        content: counter(section);
        position: absolute;
        background-color: #39B54A;
        font-size: 18px;
        font-family: "Bd-NotoSans";
        color: #ffffff;
        padding: 5px 0px;
        width: 40px; }
      .why-chose-us__content--count h5 {
        padding: 24px 0px 20px; }

.price-tag {
  display: flex;
  justify-content: space-evenly;
  margin: 34px auto 45px; }
  .price-tag__contents {
    flex-basis: 30%; }
    .price-tag__contents--heading {
      margin: 22px auto; }
    .price-tag__contents--price {
      margin-bottom: 24px; }
      .price-tag__contents--price span {
        font-size: 24px !important; }

.more-details {
  position: relative;
  font-family: "Bd-NotoSans"; }
  .more-details span {
    position: absolute;
    width: 8px;
    top: 2px;
    left: 95px; }

.wallpaper-demo__first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px; }
  .wallpaper-demo__first-row img {
    flex-basis: 46%;
    max-width: 46%; }

.wallpaper-demo__paragraph {
  margin: 27px auto 19px; }

.install-easy {
  counter-reset: section; }
  .install-easy__steps {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 45px auto; }
    .install-easy__steps--first-step {
      margin-bottom: 6%;
      margin-right: 14%; }
    .install-easy__steps--second-step {
      margin-bottom: 6%; }
    .install-easy__steps--third-step {
      margin-right: 14%; }

.step-by-step {
  flex-basis: 38%;
  position: relative; }
  .step-by-step::before {
    counter-increment: section;
    content: counter(section);
    position: absolute;
    background-color: #39B54A;
    font-size: 18px;
    font-family: "Bd-NotoSans";
    color: #ffffff;
    padding: 5px 0px;
    width: 40px;
    right: 110%; }
  .step-by-step p {
    font-family: "Bd-NotoSans";
    font-size: 18px;
    line-height: 28px;
    margin-top: 15px; }

.faq {
  counter-reset: section;
  margin: 50px auto 55px; }
  .faq__ques-ans--questions {
    position: relative;
    margin-bottom: 34px;
    padding-top: 27px;
    border-top: 1px dotted #333333;
    padding-left: 80px;
    font-family: "Bd-NotoSans";
    font-size: 18px; }
    .faq__ques-ans--questions::before {
      counter-increment: section;
      content: "Q" counter(section);
      position: absolute;
      background-color: #39B54A;
      font-size: 20px;
      font-family: "Bd-NotoSans";
      color: #ffffff;
      padding: 3px 15px;
      left: 0px;
      text-align: center; }
  .faq__ques-ans--answers {
    position: relative;
    counter-reset: subsection;
    padding-bottom: 30px;
    padding-left: 80px; }
    .faq__ques-ans--answers:nth-child(5) {
      border-bottom: 1px dotted #333333; }
    .faq__ques-ans--answers::before {
      counter-increment: subsection;
      content: "A" counter(section);
      position: absolute;
      background-color: #39B54A;
      font-size: 20px;
      font-family: "Bd-NotoSans";
      color: #ffffff;
      padding: 3px 15px;
      left: 0px;
      text-align: center; }

.for-border {
  border-bottom: 1px dotted #333333; }

.forms__title {
  margin: 45px auto; }
  .forms__title--heading {
    font-family: "Bd-NotoSans";
    font-size: 18px; }

.fillup__all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px; }
  .fillup__all--name {
    flex-basis: 20%;
    font-family: "W6-Hira";
    font-size: 24px; }
  .fillup__all--required {
    flex-basis: 5%;
    font-family: "W6-Hira";
    font-size: 18px;
    background-color: #D2272D;
    color: #ffffff;
    padding: 5px; }
  .fillup__all--typehere {
    font-family: "W3-Hira";
    font-size: 18px;
    flex-basis: 70%;
    padding: 15px 15px 18px;
    border-top: 2px solid #999;
    outline: none; }

.arbitrarily {
  background-color: #ffffff;
  color: #1A1A1A;
  border: 1px solid #000000; }

.lg-text {
  resize: none;
  min-height: 200px; }

.submit__btn {
  margin: 20px auto 125px; }

.footer {
  background-color: #4F3222;
  color: #ffffff;
  padding: 40px 0px; }
  .footer__details {
    margin-bottom: 33px; }
  .footer__copyright {
    font-size: 14px; }

#myBtn {
  position: fixed;
  bottom: 48px;
  right: 175px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #F7931E;
  cursor: pointer;
  padding: 15.5px 14px;
  border-radius: 4px; }
  #myBtn img {
    width: 22px;
    height: 12px; }

#back-to-top {
  position: fixed;
  bottom: 50px;
  right: 13%;
  z-index: 9999;
  text-align: center;
  line-height: 30px;
  border: 0;
  transition: all 0.2s ease-out;
  opacity: 0;
  outline: none;
  background-color: #F7931E;
  cursor: pointer;
  padding: 10px 14px;
  border-radius: 4px; }
  #back-to-top img {
    width: 22px;
    height: 12px; }

#back-to-top:hover {
  background: rgba(247, 147, 30, 0.8); }

#back-to-top.show {
  opacity: 1; }

.mobile-menu {
  display: none; }

.sp-only {
  display: none; }

@media (min-width: 1920px) {
  .trouble-list__listing--img-in-bg {
    right: 25%; } }

@media (min-width: 1440px) and (max-width: 1919px) {
  .trouble-list__listing--img-in-bg {
    right: 12%; } }

@media (max-width: 768px) {
  .top-heading__header-logo {
    padding: 10px 0px; }
    .top-heading__header-logo--details {
      display: none; }
  .mobile-menu {
    display: block;
    margin: auto 0px; }
  .menu-tab {
    display: block;
    position: absolute;
    width: 100%;
    background-color: #ffffff;
    right: 0px;
    top: 15%;
    z-index: 99999; }
  #menubox {
    transition: height 0.3s ease-in; }
  .menu-tab ul {
    width: 100%;
    margin: 0px;
    padding: 0px; }
  .menu-tab li {
    list-style: none;
    border-top: 1px solid #000000;
    font-size: 16px;
    line-height: 31px;
    padding: 22px 36px 20px 16px;
    position: relative; }
  .menu-tab li:after {
    background-image: url("/img/for-link.png");
    background-size: 10px 20px;
    display: inline-block;
    width: 10px;
    height: 20px;
    content: "";
    position: absolute;
    right: 16px; }
  .no-arrow img {
    margin-bottom: 25px; }
  .no-arrow:after {
    content: "";
    background: none !important; }
  .menu-tab li > a {
    text-decoration: none;
    color: #000000;
    font-family: "Md-NotoSans"; }
  .dropdown {
    width: 30px;
    height: 3px;
    position: relative;
    z-index: 0;
    margin: 15px auto; }
  .dropdown .line-1::before {
    content: "";
    left: 15px;
    top: 10px;
    position: absolute;
    width: 15px;
    transform-origin: left bottom;
    height: 3px;
    background: #1A1A1A;
    transition: transform 0.3s, top 0.3s; }
  .dropdown .line-1::after {
    content: "";
    position: absolute;
    right: 15px;
    top: 10px;
    width: 15px;
    transform-origin: right bottom;
    height: 3px;
    background: #1A1A1A;
    transition: transform 0.3s, top 0.3s; }
  .dropdown .line-2 {
    position: absolute;
    width: 30px;
    top: 50%;
    left: 50%;
    height: 3px;
    background: #1A1A1A;
    transform: translate(-50%, -50%);
    transition: transform 0.3s 0.3s, width 0.3s 0.6s; }
  .dropdown .line-3::before {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 15px;
    width: 15px;
    transform-origin: left top;
    height: 3px;
    background: #1A1A1A;
    transition: transform 0.3s, bottom 0.3s; }
  .dropdown .line-3::after {
    content: "";
    position: absolute;
    bottom: 10px;
    right: 15px;
    width: 15px;
    transform-origin: right top;
    height: 3px;
    background: #1A1A1A;
    transition: transform 0.3s, bottom 0.3s; }
  .dropdown.open {
    -webkit-transition: 3s ease-out;
    -moz-transition: 3s ease-out;
    -ms-transition: 3s ease-out;
    transition: 3s ease-out; }
  .dropdown.open .line-1:before {
    top: 0px;
    width: 15px;
    transform: rotate(45deg);
    transform-origin: left bottom;
    transition: transform 0.3s 0.3s, width 0.3s 0.3s, top 0.3s 0.3s; }
  .dropdown.open .line-1:after {
    top: 0px;
    width: 15px;
    transform: rotate(-45deg);
    transform-origin: right bottom;
    transition: transform 0.3s 0.3s, width 0.3s 0.3s, top 0.3s 0.3s; }
  .dropdown.open .line-2 {
    width: 5px;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: transform 0.3s 0.3s, width 0.3s; }
  .dropdown.open .line-3:before {
    bottom: 0px;
    width: 15px;
    transform: rotate(-45deg);
    transform-origin: left top;
    transition: transform 0.3s 0.3s, width 0.3s 0.3s, bottom 0.3s 0.3s; }
  .dropdown.open .line-3:after {
    bottom: 0px;
    width: 15px;
    transform: rotate(45deg);
    transform-origin: right top;
    transition: transform 0.3s 0.3s, width 0.3s 0.3s, bottom 0.3s 0.3s; }
  .listing-lists {
    padding: 20px 0 0 35px;
    font-size: 16px; }
  .trouble-list__listing {
    padding-bottom: 42px; }
    .trouble-list__listing--img-in-bg {
      max-width: 40%;
      right: 0; } }

@media (max-width: 992px) {
  .decorate-in-style__first-row {
    padding: 30px 0px 15px; }
  .decorate-in-style__second-row--img-message {
    width: auto;
    max-width: 49%; }
  .decorate-in-style__second-row--img-contact {
    width: auto;
    max-width: 49%; }
  .left-column {
    flex-basis: 50%; }
    .left-column__main-heading {
      font-size: 22px; }
    .left-column__sub-heading {
      font-size: 30px; }
    .left-column__sub-heading-2 {
      font-size: 40px; }
  .contents__heading {
    font-size: 14px; }
  .contents__paragraph {
    font-size: 12px; }
  .price-tag {
    flex-wrap: wrap; }
    .price-tag__contents {
      flex-basis: 50%;
      padding-bottom: 78px; }
  .fillup__all--name {
    font-size: 20px; }
  .fillup__all--required {
    font-size: 12px; }
  .fillup__all--typehere {
    font-size: 12px;
    padding: 10px 15px 10px; }
  .lg-text {
    min-height: 100px; }
  #back-to-top {
    right: 5%; }
  .heading {
    padding: 11px 0px; }
    .heading__title {
      font-size: 20px; } }

@media (max-width: 600px) {
  .sp-only {
    display: block;
    margin-bottom: 18px;
    padding: 0px 5px; }
  .not-sp {
    display: none; }
  .trouble-list__listing {
    padding-bottom: 0px; }
    .trouble-list__listing--img-in-bg {
      position: static;
      max-width: 100%; }
  .decorate-in-style__first-row {
    flex-direction: column-reverse;
    text-align: center; }
  .decorate-in-style__second-row {
    flex-direction: column; }
    .decorate-in-style__second-row--img-contact {
      max-width: 100%;
      margin-bottom: 23px; }
    .decorate-in-style__second-row--img-message {
      max-width: 100%; }
  .why-chose-us__content {
    flex-direction: column;
    padding: 56px 18px 0px; }
    .why-chose-us__content--count {
      padding-bottom: 48px; }
      .why-chose-us__content--count img {
        max-width: 80%; }
  .contents__heading {
    font-size: 18px; }
  .contents__paragraph {
    font-size: 16px; }
  .price-tag {
    flex-direction: column;
    margin-bottom: 0px; }
  .wallpaper-demo__first-row {
    flex-direction: column; }
    .wallpaper-demo__first-row img {
      max-width: 90%;
      padding-bottom: 35px; }
  .wallpaper-demo__paragraph {
    margin-top: 0px; }
  .wrapper {
    padding: 0px 15px 22px; }
  .install-easy__steps {
    flex-direction: column; }
  .step-by-step {
    margin: 100px auto 0px; }
    .step-by-step::before {
      bottom: 110%;
      left: 0; }
  .faq {
    margin: 0px auto 45px; }
    .faq__ques-ans--questions {
      font-size: 16px;
      padding: 15px 16px 7.5px 38px;
      margin-bottom: 0px; }
      .faq__ques-ans--questions::before {
        font-size: 13px;
        padding: 0px 7.5px;
        top: 20px; }
    .faq__ques-ans--answers {
      font-size: 15px;
      padding: 15px 16px 7.5px 38px; }
      .faq__ques-ans--answers::before {
        font-size: 13px;
        padding: 0px 7.5px;
        top: 20px; }
  .forms__title {
    margin: 28px auto 36px; }
  .fillup__all {
    flex-wrap: wrap;
    margin-bottom: 34px; }
    .fillup__all--name {
      flex-basis: 85%; }
    .fillup__all--required {
      flex-basis: 12%;
      font-size: 14px; }
    .fillup__all--typehere {
      margin-top: 17px;
      flex-basis: 100%;
      font-size: 18px;
      padding: 14px 17px 20px; }
  .lg-text {
    min-height: 300px; }
  .submit__btn {
    width: 100%;
    margin: 0px auto 58px; }
  .footer {
    padding: 0px; }
    .footer__details {
      padding: 38px 16px 40px;
      font-size: 13px;
      margin-bottom: 0px; }
    .footer__copyright {
      padding: 0px 16px 36px;
      font-size: 13px; }
  .heading {
    padding: 30px 16px; }
    .heading__title {
      font-size: 26px; } }
