*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NotoSans";
}

.container {
  max-width: 1024px;
  margin: 0px auto;
  padding: 0px 15px;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}
.img-width {
  padding-right: 48px;
}
.text-center {
  text-align: center;
}
.heading {
  background-color: $brown;
  padding: 22px 0px;
  &__title {
    position: relative;
    font-family: "Bd-NotoSans";
    font-size: 35px;
    color: $white;
    padding-left: 15px;
    &::before {
      content: "";
      position: absolute;
      left: 0px;
      height: 100%;
      border-left: 5px solid $white;
    }
  }
}
.contents {
  &__heading {
    font-family: "Bd-NotoSans";
    font-size: 18px;
  }
  &__paragraph {
    font-family: "NotoSans";
    font-size: 16px;
    text-align: left;
  }
}
.btn-rounded {
  font-size: 18px;
  color: $white;
  background-color: $orange;
  border-radius: 2px;
  display: inline-block;
  padding: 14px 83px;
  text-decoration: none;
  line-height: 22px;
  box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.3);
  &:hover {
    box-shadow: none;
    transition: 0.4s;
  }
}
.wrapper {
  width: 630px;
  max-width: 100%;
  margin: 0px auto;
}
.no-border {
  border: none !important;
}