@font-face {
  font-family: "NotoSans";
  src: url("../fonts/NotoSansJP-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Md-NotoSans";
  src: url("../fonts/NotoSansJP-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Bd-NotoSans";
  src: url("../fonts/NotoSansJP-Bold.otf") format("opentype");
}
@font-face {
  font-family: "XB-MPlus";
  src: url("../fonts/MPLUS1p-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Bl-NotoSans";
  src: url("../fonts/NotoSansJP-Black.otf") format("opentype");
}

@font-face {
  font-family: "W3-Hira";
  src: url("../fonts/HiraginoKaku-W3-90msp-RKSJ-H.otf") format("opentype");
}
@font-face {
  font-family: "W6-Hira";
  src: url("../fonts/HiraginoKaku-W6-90msp-RKSJ-H.otf") format("opentype");
}
